<h1>Controle de Vendas</h1>

<form action='/adicionar' method='POST'>
    Data: <input type='date' name='data'>
    Produto: <input type='text' name='produto'>
    Vendedor: <input type='text' name='vendedor'>
    Valor: <input type='text' name='valor'>
    <button type='submit'>Adicionar Venda</button>
    <button type='reset' style='background-color: #6c757d;'>Limpar</button>
</form>

<table>
    <tr><th>Data</th><th>Produto</th><th>Vendedor</th><th>Valor</th></tr>
    <% @linhas.each do |linha| %>
        <tr>
            <% linha.each do |coluna| %>
                <td><%= coluna %></td>
            <% end %>
        </tr>
    <% end %>
</table>